<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>{{ getWelcomeMessage() }}</h1>
  <p>This is your personal training app. Use the tabs below to navigate to your profile, workout plan, and privacy settings.</p>
  
  <p style="text-align: center; margin-top: 20px; font-weight: bold;">
    Created by Alish and Issac.
  </p>

  <div style="text-align: center; margin-top: 50px;">
    <ion-icon name="barbell-outline" style="font-size: 120px; color: #888;"></ion-icon>
    <p style="margin-top: 20px; font-size: 16px; color: #555;">
      "Fitness is not about being better than someone else. It’s about being better than you used to be."
    </p>
  </div>

  
</ion-content>
