ion-header {
    ion-toolbar {
      background: var(--secondary-color);
      color: rgb(30, 189, 24);
    }
  }
  
  ion-content {
    background-color: var(--light-color);
  
    ion-card {
      background: white;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin-top: 20px;
  
      ion-card-title {
        color: var(--primary-color);
        font-size: 1.5rem;
        font-weight: bold;
      }
  
      ion-card-content p {
        font-size: 1rem;
        color: var(--secondary-color);
        margin-bottom: 10px;
      }
    }
  
    ion-list {
      margin-top: 20px;
  
      ion-list-header {
        ion-label {
          color: var(--primary-color);
          font-weight: bold;
        }
      }
  
      ion-item {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
      }
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  
    ion-item {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      width: 90%; /* Fit smaller screens */
      max-width: 400px;
    }
  
    ion-button {
      background: var(--primary-color);
      color: white;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(50, 205, 50, 0.3);
      margin-top: 15px;
      width: 90%; /* Fit smaller screens */
      max-width: 400px;
    }
  }
  